/* Main Colour theme */
:root {
    --main-color: #7f2970;
    --secondary-color: #db7c41;
    --tertiary-color: #23a93a;
    --quaternary-color: #cd5fc6;
    --quinary-color: #ae2424;
}

/* Text Constants */
:textFont {
    font-family: 'Roboto', sans-serif;
}

.textSize {
    --small: 16px;
    --medium: 20px;
    --large: 24px;
}

.table-cell {
    width: 50px;
    height: 50px;
    text-align: center;

    border: 1px solid black;
}


.logo {
    height: 50px;
    margin-right: 20px;
}
